<div class="card" onclick="window.location.href='/message/<%= id %>'">
	<div class="message-header">
		<img src="<%= profile %>" class="profile-photo" />
		<p><%= user %></p>
	</div>
	<p class='message'><%= text %></p>
	<p class='date'><%= added %></p>
</div>
